<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="adminMapper">

    <!-- 관리자 조회 -->
    <select id="findById" parameterType="string" resultType="com.app.dto.admin.Admin">
        SELECT id, pw, name
        FROM admin
        WHERE id = #{id}
    </select>

    <!-- 관리자 회원가입 -->
    <insert id="insert" parameterType="com.app.dto.admin.Admin">
        INSERT INTO admin (id, pw, name)
        VALUES (#{id}, #{pw}, #{name})
    </insert>

</mapper>
